@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

:root {

/* Primary */

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);

/* Neutral */ 

    --Very-Dark-Cyan: hsl(192, 100%, 9%);   
    --Very-Pale-Blue: hsl(207, 100%, 98%);

/* Headings */

    --headings: 'Poppins';

/* Body */

    --body: 'Open Sans';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
}

@media (max-width: 500px) {
    header {
        padding-inline: 1rem;
    }
}

.logo-container {
    width: 15rem;
    height: 2rem;
    
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    cursor: pointer;
    border-radius: 2rem;
    font-family: var(--body);
    text-transform: capitalize;
    text-decoration: none;
}

.small-btn {
    display: grid;
    place-items: center;
    min-width: fit-content;
    padding-inline: 2rem;
    border: 1px solid var(--Pink);
    color: var(--Pink);
}

.cta {
    color: var(--Very-Pale-Blue);
    padding: 1rem 4rem;
    background-color: var(--Pink);
    box-shadow: 0 5px 15px -10px var(--Very-Dark-Cyan);

    transition: background-color 250ms ease-in-out;
}

.cta:hover {
    background-color: var(--Light-Pink);
}

h1,
h2,
h3,
h4 {
    font-family: var(--headings);
}

h2 {
    font-size: 2rem;
}

p,
span {
    font-family: var(--body);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding-bottom: 5rem;
}

.curves {
    width: 100%;
}

/* Hero section */

.hero {
    display: grid;
    place-items: center;
    gap: 2rem;

    padding: 5rem 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
}

.hero p {
    width: 80%;
}

.hero-img {
    width: 100%;
    height: 37.5rem;

    margin-top: 5rem;

    background-image: url('images/screen-mockups.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 1100px) {
    .hero-img {
        height: 30rem;
    }
}

/* Section styling for main content */

.curves-container {
    position: absolute;
    width: 100%;
    height: 10rem;

    left: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top {
    top: 0;
    transform: translateY(-100%);
    background-image: url('images/bg-section-top-desktop-1.svg');
}

.bottom {
    bottom: 0;
    transform: translateY(100%);
    background-image: url('images/bg-section-bottom-desktop-1.svg');
}

.footer {
    background-image: url('images/bg-footer-top-desktop.svg');
}

.content-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;


    position: relative;
    width: 100%;

    margin: 5rem 0;
    padding: 3rem;
}

.content-section:last-child {
    text-align: center;
}

@media (max-width: 960px) {
    .content-section {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .content-section {
        padding: 2rem;
    }
}

/* Data section */

.data {
    justify-content: center;
    gap: 5rem;
}

.communities,
.messages {
    width: fit-content;
}

.communities svg,
.messages svg {
    display: block;
}

.milestones {
    font-size: 5rem;
    font-weight: 700;
}

.communities p,
.messages p {
    color: var(--Very-Dark-Cyan);
}

/* Info sections */

.reverse {
    flex-wrap: wrap-reverse;
}

.light-blue {
    background-color: var(--Very-Pale-Blue);
}

.info-text,
.info-img-container {
    min-width: 400px;
    flex: 1 1 0;
}

@media (max-width: 400px) {
    .info-text,
    .info-img-container {
        min-width: 100%;
    }
}

.info-text h2 {
    margin-bottom: 2rem;
}

.info-img-container {
    width: 100%;
    aspect-ratio: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.grow {
    background-image: url('images/illustration-grow-together.svg');
}

.flowing {
    background-image: url('images/illustration-flowing-conversation.svg');
}

.users {
    background-image: url('images/illustration-your-users.svg');
}

.info-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5rem;

    margin-top: 15rem;
    padding: 3rem 0;
    position: relative;

    color: white;
    background-color: var(--Very-Dark-Cyan);
}

.footer-info,
.footer-newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-inline: 5rem;    

    flex: 1 1 0;
    min-width: 400px;
}

@media (max-width: 500px) {
    .footer-info,
    .footer-newsletter {
        padding-inline: 1rem;
        min-width: 100%; 
    }

    .footer-newsletter input {
        width: 100%;
    }

    .footer-newsletter .btn {
        width: 100%;
    }
}

.footer-newsletter h4 {
    text-transform: uppercase;
}

.footer-newsletter form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    height: 2rem;
}

.footer-newsletter input {
    height: 100%;
    border-radius: 5px;
    border: 0;
}

.footer-newsletter .btn {
    display: grid;
    place-items: center;
    
    height: 100%;
    padding-inline: 1rem;
    border-radius: 5px;
    background-color: var(--Pink);
}

#footer-curves {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
    